<launch>
    
  <include file="$(find xentrinobot)/launch/include/configure.launch" />
  <arg name="model"/>
  <arg name="gui" default="false"/>
  <param name="robot_description" textfile="$(find xentrinobot)/urdf/xentrinobot.urdf"/> <!-- check this robot descriptions -->
  <param name="use_gui" value="False"/>

  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/> 
    <node name="xentrino_base_node" pkg="xentrinobot" type="xentrino_base_node" />
</launch>


