<launch>
  <master auto="start"/>

  <!-- Run xentrino -->
  <include file="$(find xentrinobot)/launch/include/xentrino_urdf.launch" />
  <!-- Run the map server -->
    
  <node name="map_server" pkg="map_server" type="map_server" args="$(find patrick_the_robot)/maps/map4.pgm 0.05"/>

    <!-- Map server -->
    <arg name="map_file" default="$(find xentrinobot)/maps/house.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find xentrinobot)/launch/include/amcl.launch" />
    
    <!-- Calls navigation stack packages for compatible xentrinobot base -->
    <!-- Takes reference from env variable XENTRINOBASE. ie. export XENTRINOBASE=2wd -->
    <include file="$(find xentrinobot)/launch/include/move_base_$(env XENTRINOBASE).launch" />
</launch>
