<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find xentrinobot)/maps/house.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find xentrinobot)/launch/include/amcl.launch" />
    
    <!-- Calls navigation stack packages for compatible Linorobot base -->
    <!-- Takes reference from env variable XENTRINOBASE. ie. export XENTRINOBASE=2wd -->
    <include file="$(find linorobot)/launch/include/move_base/move_base_$(env XENTRINOBASE).launch" />
</launch>
