
<launch >

<!--Start ROS communication between the robot's computer and Linorobot base --> 
    <include file="$(find xentrinobot)/launch/include/configure.launch" />
    

    <!-- Run Xentrinobot compatible laser drivers -->
   <!-- Run Xentrinobot  compatible laser drivers. Takes reference from env var XENTRINOLIDAR. ie. export XENTRINOLIDAR=xv11 -->
    <include file="$(find xentrinobot)/launch/include/lidar/ydlidar.launch" />

    <!-- Publish static transform of the laser. Define your sensor offset here -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0.065 0 0.098 0 0 0  /base_link /laser"/>    
  
    <include file="$(find xentrinobot)/launch/include/xentrino_urdf.launch"/>
    <!-- Map server -->
    <arg name="map_file" default="$(find xentrinobot)/maps/house.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find xentrinobot)/launch/include/amcl.launch" />
    
    <!-- Calls navigation stack packages for compatible Linorobot base -->
    <!-- Takes reference from env variable LINOBASE. ie. export LINOBASE=2wd -->
    <include file="$(find xentrinobot)/launch/include/move_base_2wd.launch" />
</launch>




















